.container {
  position: relative;
  height: 100vh;
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;

  &.dark {
    background-color: black;
  }

  .stick {
    position: sticky;
    top: 0;
  }
  .empty {
    height: 100vh;
    scroll-snap-align: center;
    z-index: 999;
    position: relative;
    pointer-events: none;
  }
}
