.container {
  position: relative;
  min-height: 100vh;
  min-width: 230px;
  background-color: whitesmoke;
  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }

  .footer {
    text-align: center;
    padding: {
      bottom: 30px;
    }
  }
}
