@import "./profile&contact.module.scss";
.container {
  .content {
    .section {
      .sub-header {
        font-size: 20px;
        margin: {
          left: 10px;
          top: 10px;
        }
      }

      .skills__front-end,
      .skills__design {
        display: flex;
        flex-wrap: wrap;
        max-width: 80vw;
        margin: {
          left: 10px;
          bottom: 10px;
        }

        .skill {
          position: relative;
          transition: all 0.2s;
          // margin: 10px;
          padding: 10px;
          perspective: 500px;
          // border: 1px solid black;

          .skill__icon {
            cursor: pointer;
            backface-visibility: hidden;
            height: 100px;
            margin: 10px;
          }

          .skill__text {
            cursor: pointer;
            border: 1px solid black;
            border-radius: 5px;
            transform: rotateY(180deg) !important;
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: inherit;
            min-width: fit-content;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 1px 1px 5px gray;
            padding: {
              top: 10px;
              bottom: 10px;
            }
          }
        }
      }
    }
  }
}
