@import "./profile&contact.module.scss";

.container {
  .info-window {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 10px;
    left: 5px;
    width: fit-content;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    opacity: 0;

    &.active {
      opacity: 1;
    }

    .info-text {
      color: white;
      padding: {
        left: 15px;
        right: 15px;
      }
    }
  }

  .content {
    .section {
      .sub-header {
        margin: {
          left: 10px;
          top: 10px;
        }
        font: {
          size: 20px;
        }
      }

      .skills__front-end,
      .skills__design {
        display: flex;
        flex-wrap: wrap;
        max-width: 80vw;
        margin: {
          left: 10px;
          bottom: 10px;
        }

        .skill {
          position: relative;
          transition: all 0.2s;
          padding: 10px;

          .skill__icon {
            height: 100px;
            margin: 10px;
          }
        }
      }
    }
  }
}
