@import "../main.scss";

.container {
  // z-index: 0;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  height: 100vh;
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }

  .content {
    flex-grow: 1;
    margin-top: -10vh;
  }
}
