@import "../main.scss";

.container {
  position: relative;
  scroll-snap-align: center;
  // scroll-margin: 100vh;
  height: 100vh;
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }
  display: flex;
  flex-direction: column;
  &:not(:last-child) {
    margin-bottom: 10vh;
  }
  .content {
    flex-grow: 1;
    margin-top: -10vh;
  }
}
