@import "./allSection.scss";

.container {
  background-color: black;
  height: 3000px !important;
  display: block !important;

  .content {
    position: sticky !important;
    top: 0;
    display: flex;

    .logo,
    .shadow {
      width: 60vmin;
    }

    .title {
      font: {
        weight: 700;
        size: 15vmin;
      }
    }

    .sub-title {
      font: {
        weight: 700;
        size: 10vmin;
      }
    }

    .fake,
    .real {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .fake {
      position: absolute !important;
      top: 0 !important;
      width: 100%;
      height: 100vh;
      color: white;
      .logo {
        filter: grayscale(0.8);
        opacity: 0;
        pointer-events: none;
      }
      .title {
        // opacity: 0;
        // pointer-events: none;
      }
    }

    .real {
      background-color: whitesmoke;
      width: 100%;
      height: 100vh;
    }
  }
}
