@import "./allSection.scss";

.container {
  background-color: #403d39;
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    .img {
      width: 90vmin;
    }
  }
}
