@import "./allSection.scss";

.container {
  // background-color: rgb(195, 195, 195);
  // background: linear-gradient(
  //   90deg,
  //   rgb(187, 186, 186),
  //   rgb(195, 195, 195),
  //   rgb(195, 195, 195)
  // );
  .sticky-wrapper {
    position: sticky;
    top: 0;
  }
  .drag-mod {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    transition: all 0.3s;
    font-size: 20px;
    font-weight: 700;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    .icon--drag-mod {
      position: absolute;
      opacity: 0.3;
      width: 15vmin;
      height: 15vmin;
      top: 7vmin;
      left: 4.5vmin;
    }
    color: rgba(40, 40, 40, 0.8);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vmin;
    height: 15vmin;
    top: calc(50vh - 7vmin);
    left: 0;
    right: 0;
    margin: auto;
    &:not(:hover) {
      animation: zoomInOut 2s infinite;
      @keyframes zoomInOut {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.05);
        }
        100% {
          transform: scale(1);
        }
      }
    }
    &:hover {
      transform: scale(1.1);
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .monitor {
    position: relative;
    width: 100vw;
    .img--monitor {
      // opacity: 0.5;
      z-index: 1;
      width: 100%;
      position: relative;
      pointer-events: none;
    }
  }

  .canvas {
    z-index: 0;
    background-color: white;
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 45% !important;
    width: 50vw !important;
  }
}
