@import "./allSection.scss";

.container {
  .content {
    overflow: hidden;
  }
  .monitor {
    position: relative;
    width: 140vw;
    margin-top: -15vw;
    .img--monitor {
      z-index: 1;
      width: 100%;
      position: relative;
      pointer-events: none;
    }
  }

  .canvas,
  .off {
    z-index: 0;
    background-color: white;
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 45% !important;
    width: 70vw !important;

    &.off {
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      .btn--on {
        cursor: pointer;
        width: 10%;
        &:hover {
          transition: opacity 0.3;
          opacity: 0.5;
        }
      }
    }
  }
}
