.container {
  min-width: 20vw;
  max-width: 600px;
  margin: {
    left: 10px;
  }

  .form {
    display: flex;
    flex-direction: column;

    .top-wrapper {
      display: flex;
      flex-wrap: wrap;
      row-gap: 2px;
      margin: {
        bottom: 10px;
      }

      .input--name {
        outline: none;
        margin: {
          right: 10px;
        }
        font: {
          family: "Gowun Dodum", sans-serif;
        }
      }

      .input--pw {
        outline: none;
        font: {
          family: "Gowun Dodum", sans-serif;
        }
      }
    }

    .counter {
      color: rgb(118, 118, 118);
      text-align: end;
      margin: {
        right: 65px;
        bottom: 10px;
      }
      &.over {
        color: #da4a4a;
      }
    }

    .bottom-wrapper {
      display: flex;
      margin: {
        bottom: 30px;
      }

      .input--content {
        width: 100%;
        resize: none;
        height: 80px;
        outline: none;
        margin: {
          right: 10px;
        }
        font: {
          family: "Gowun Dodum", sans-serif;
        }
      }
    }
  }
}
