.container {
  min-width: 230px;
  max-width: 600px;
  margin: {
    left: 10px;
  }

  .form {
    display: flex;
    flex-direction: column;

    .top-wrapper {
      display: flex;
      flex-wrap: wrap;
      row-gap: 2px;
      margin: {
        bottom: 10px;
      }

      .input--name,
      .input--pw {
        outline: none;
        margin: {
          right: 10px;
        }
        font: {
          family: "Gowun Dodum", sans-serif;
        }
      }
    }

    .counter {
      color: rgb(118, 118, 118);
      text-align: end;
      align-self: flex-end;
      margin: {
        top: 5px;
        left: auto;
        right: 5px;
      }
      &.over {
        color: #da4a4a;
      }
    }

    .input--content {
      width: 100%;
      resize: none;
      height: 80px;
      outline: none;
      margin: {
        right: 10px;
        bottom: 10px;
      }
      font: {
        family: "Gowun Dodum", sans-serif;
      }
    }
  }
}
