.container {
  min-width: 20vw;
  .list {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    min-width: 230px;
    margin: {
      left: 10px;
    }
    gap: 5px;
  }
}
