.container {
  flex-grow: 1;
  border-radius: 5px;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  padding: 5px;

  .text {
    width: fit-content;
    margin: {
      bottom: 7px;
    }

    &.content {
      margin: {
        bottom: 14px;
      }
    }

    &.name {
      color: rgb(118, 118, 118);
      font: {
        size: 14px;
      }
    }

    &.date {
      color: rgb(118, 118, 118);
      font: {
        size: 12px;
      }
    }
  }

  .form {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .input--check-pw {
      outline: none;
      color: rgb(118, 118, 118);
      border: 1px solid rgb(186, 186, 186);
      border-radius: 2px;
      width: 80px;
      height: 20px;
      background: none;
      font: {
        family: "Gowun Dodum", sans-serif;
        size: 14px;
      }
    }
  }
}
