@font-face {
  font-family: "liquid_crystal-font";
  src: url("../fonts/digital-7\ \(mono\).ttf");
}

.header {
  font-family: raleway, sans-serif;

  width: fit-content;
  margin: {
    bottom: 100px;
    right: 90px;
  }
  padding: {
    right: 40px;
    left: 40px;
    top: 20px;
    bottom: 20px;
  }
  z-index: 2;
  position: sticky;
  top: 15px;
  left: 0;
  font-weight: 700;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);
  color: whitesmoke;
  border-radius: 0 15px 15px 0;
  .title {
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
  }

  .sub-title {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    font-weight: 500;
    margin: {
      top: 10px;
    }
  }

  .title__break,
  .sub-title__break {
    text-align: start;
  }

  &.Front {
    flex-direction: column;
  }

  &.ThreeBeef {
  }

  &.MetaBeef {
  }

  &.Clock {
    z-index: 2;
  }
}
