@import "../main.scss";
@font-face {
  font-family: "liquid_crystal-font";
  src: url("../fonts/digital-7\ \(mono\).ttf");
}

.header {
  // border: 1px solid black;
  // width: 100vw;
  width: fit-content;
  margin: {
    bottom: -1px;
    right: 90px;
  }
  padding: {
    right: 40px;
    left: 40px;
    top: 20px;
    bottom: 20px;
  }
  z-index: 2;
  position: sticky;
  top: 15px;
  left: 0;
  font-weight: 700;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);
  // color: black;
  color: whitesmoke;
  border-radius: 0 15px 15px 0;
  .title {
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
  }

  .sub-title {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    font-weight: 500;
    margin: {
      top: 10px;
    }
  }

  .title__break,
  .sub-title__break {
    text-align: start;
  }

  &.Front {
    flex-direction: column;
  }

  &.ThreeBeef {
  }

  // &.PlaceReview {
  //   .title__break0 {
  //     color: #fffcf2;
  //   }
  //   .title__break1 {
  //     color: #eb5e28;
  //   }
  // }

  &.MetaBeef {
    // color: #221718;
  }

  &.Clock {
    z-index: 2;
  }

  // &.Profile,
  // &.Contact {
  //   color: whitesmoke;
  //   backdrop-filter: blur(5px);
  //   background-color: rgba(0, 0, 0, 0.8);
  // }
}
