@import "../main.scss";
.container {
  position: fixed;
  height: 130px;
  top: 0;
  right: 0;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .icon--menu {
    transform-origin: center;
    opacity: 0.8;
    margin: {
      right: 20px;
    }
    z-index: 1;
    cursor: pointer;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transition: all 0.3s;

    &:hover {
      opacity: 0.3;
    }
  }

  .menu {
    pointer-events: none;
    overflow: hidden;
    transition: width 1s;
    width: 0;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;

    .menu__left-side {
      flex-grow: 1;
    }

    .menu__resizer {
      background-color: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(3px);
      display: flex;
      align-items: center;
      width: 10px;
      cursor: ew-resize;
      .icon--resize {
        width: 50%;
        margin: auto;
      }
    }

    .menu__right-side {
      perspective: 1000px;
      backdrop-filter: blur(10px);
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .flip {
        transition: all 0.5s;
        backface-visibility: hidden;
        transform: rotateX(180deg);
      }

      .title__menu {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(100, 100, 100, 1);
        font: {
          size: 40px;
          weight: 700;
        }
        height: 135px;
        pointer-events: none;
        text-align: center;
        margin: {
          right: 90px;
          left: 10px;
        }
      }
    }

    .item {
      color: white;
      height: 50px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-radius: 15px;
      width: 95%;
      margin: {
        bottom: 5px;
        left: auto;
        right: auto;
      }
      padding: {
        right: 15px;
        left: 15px;
        top: 0;
        bottom: 0;
      }

      &.active {
        // color: black;
        background-color: rgba(100, 100, 100, 0.5) !important;
      }

      // &:nth-child(2) {
      //   margin: {
      //     top: calc(8vh + 6vmin + 40px);
      //   }
      // }

      &:not(.footer) {
        cursor: pointer;
        font-weight: 700;
        background-color: rgba(0, 0, 0, 0.5);
        &:hover {
          font-size: 20px;
          height: 60px;
        }
      }

      &.footer {
        color: black;
        transform-origin: bottom;
        text-align: center;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-grow: 1;
        justify-self: flex-end;
        padding: {
          bottom: 20px;
        }
      }
    }
  }

  &.show-menu {
    .icon--menu {
      border: 1px solid rgba(100, 100, 100, 1);
      border-radius: 5px;
      height: 5px;
      padding: 3px;
      transform: rotate(45deg);
      background-color: rgba(100, 100, 100, 1);
    }
    .menu {
      width: 100vw;
      pointer-events: all;
      .flip {
        transform: rotateX(0);
        @for $i from 1 through 6 {
          &:nth-child(#{$i}) {
            transition: transform
                1s
                #{0.6 +
                ($i - 1) *
                0.3}s
                cubic-bezier(0.34, 2, 0.64, 1),
              background-color 0.3s 0s, height 0.3s 0s, font-size 0.3s 0s;
          }
        }
      }
    }
  }
}
