.container {
  position: fixed;
  height: 50px;
  top: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  margin: {
    right: 10px;
    left: 10px;
  }
  .item {
    line-height: 50px;
    text-align: center;
    cursor: pointer;

    padding: {
      right: 15px;
      left: 15px;
      top: 0;
      bottom: 0;
    }

    &:hover {
      background-color: rgba(200, 200, 200, 0.3);
    }
  }
}
