.container {
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  width: 10vmin;
  max-height: 10vmin;
  display: flex;
  animation: upDown 2s linear infinite;
  @keyframes upDown {
    0% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(5px);
    }
    50% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  &.show {
    opacity: 1;
  }
}
