.container {
  background-color: whitesmoke;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  min-width: 230px;
  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }
  margin: {
    bottom: 30vh;
  }

  .content {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .box {
      &:not(.screenshots) {
        background-color: rgba(230, 230, 230, 0.6);
      }
      // border: 1px solid rgba(0, 0, 0, 0.8);
      border-radius: 15px;
      overflow: hidden;
      height: fit-content;
      margin: {
        top: 100px;
        left: 20px;
        right: 20px;
      }

      &:last-child {
        margin: {
          // bottom: 200px;
        }
      }

      .box__title {
        background-color: rgba(0, 0, 0, 0.8);
        color: whitesmoke;
        padding: 10px;
        border-radius: 15px 15px 0 0;
        font: {
          size: 25px;
          weight: 700;
        }
      }

      &.screenshots {
        position: relative;
        width: 100vw;
        border: none;
        overflow: hidden;

        .swiper__pagination {
          z-index: 999;
          position: absolute;
          height: 10vw;
          top: 0;
          bottom: 0;
          margin: {
            left: 2vw;
            right: 2vw;
            top: auto;
            bottom: auto;
          }

          .swiper__arrow {
            height: 10vw;
            cursor: pointer;
            transition: opacity 0.3s;

            &:hover {
              opacity: 0.5;
            }
          }

          &:last-child {
            right: 0;

            .swiper__arrow {
              transform: rotate(180deg);
            }
          }
        }

        .swiper__container {
          max-width: 1000px;
          overflow: visible;
          display: flex;

          .swiper__item {
            max-width: 1000px;
            align-self: center;

            img {
              width: 90%;
            }
          }
        }
      }

      &.summary {
        width: fit-content;
        // max-width: 90vw;

        * {
          padding: 10px;
          text-align: center;
        }

        tr:not(:last-child) {
          border-bottom: 1px solid #221718;
        }

        td:first-child {
          text-align: center;
          border-right: 1px solid #221718;
          padding: {
            right: 15px;
          }
        }

        .summary__table {
          margin: 10px;
        }
      }

      &.description {
        max-width: 400px;

        .description__text {
          word-break: keep-all;
          white-space: pre-line;
          padding: 10px;
          line-height: 23px;
        }
      }

      &.skills {
        width: fit-content;
        overflow: visible;
        .skill-icons {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          .img--skill {
            height: 100px;
            margin: 10px;
          }
        }
      }

      &.links {
        width: fit-content;
        max-width: 400px;
        min-width: 200px;
        .links-wrapper {
          display: flex;
          justify-content: space-evenly;
          flex-wrap: wrap;
          padding: 10px;
          gap: 10px;
        }
      }
    }
  }
}

// .container {
//   background-color: whitesmoke;
//   position: relative;
//   min-height: 100vh;
//   min-width: 230px;
//   @supports (-webkit-touch-callout: none) {
//     min-height: -webkit-fill-available;
//   }

//   .content {
//     text-align: center;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//   }

//   &:first-child {
//     height: 100vh;
//     @supports (-webkit-touch-callout: none) {
//       height: -webkit-fill-available;
//     }

//     .content {
//       margin-top: 0;
//     }
//   }

//   .screen {
//     position: absolute;
//     background-color: red;
//     width: 100%;
//     height: 100vh;
//     transform: rotate(180deg);
//   }

//   .box {
//     border: 1px solid rgba(0, 0, 0, 0.8);
//     border-radius: 15px;
//     overflow: hidden;
//     height: fit-content;
//     margin: {
//       top: 100px;
//       left: 20px;
//       right: 20px;
//     }

//     &:last-child {
//       margin: {
//         bottom: 200px;
//       }
//     }

//     .box__title {
//       background-color: rgba(0, 0, 0, 0.8);
//       color: whitesmoke;
//       padding: 10px;
//       font: {
//         size: 25px;
//         weight: 700;
//       }
//     }

//     &.screenshots {
//       position: relative;
//       width: 100vw;
//       border: none;
//       overflow: visible;

//       .swiper__pagination {
//         z-index: 999;
//         position: absolute;
//         height: 10vw;
//         top: 0;
//         bottom: 0;
//         margin: {
//           left: 2vw;
//           right: 2vw;
//           top: auto;
//           bottom: auto;
//         }

//         .swiper__arrow {
//           height: 10vw;
//           cursor: pointer;
//           transition: opacity 0.3s;

//           &:hover {
//             opacity: 0.5;
//           }
//         }

//         &:last-child {
//           right: 0;

//           .swiper__arrow {
//             transform: rotate(180deg);
//           }
//         }
//       }

//       .swiper__container {
//         overflow: hidden;
//         display: flex;
//         width: 100vw;

//         .swiper__item {
//           align-self: center;
//           img {
//             width: 70%;
//           }
//         }
//       }
//     }

//     &.summary {
//       width: fit-content;
//       // max-width: 90vw;

//       * {
//         padding: 10px;
//         text-align: center;
//       }

//       tr:not(:last-child) {
//         border-bottom: 1px solid #221718;
//       }

//       td:first-child {
//         text-align: center;
//         border-right: 1px solid #221718;
//         padding: {
//           right: 15px;
//         }
//       }

//       .summary__table {
//         margin: 10px;
//       }
//     }

//     &.description {
//       max-width: 400px;

//       .description__text {
//         word-break: keep-all;
//         white-space: pre-line;
//         padding: 10px;
//         line-height: 23px;
//       }
//     }

//     &.skills {
//       width: fit-content;
//       .skill-icons {
//         display: flex;
//         flex-wrap: wrap;
//         justify-content: center;

//         .img--skill {
//           height: 100px;
//           margin: 10px;
//         }
//       }
//     }

//     &.links {
//       width: fit-content;
//       max-width: 400px;

//       .links-wrapper {
//         display: flex;
//         justify-content: center;
//         flex-wrap: wrap;
//         padding: 10px;
//         gap: 10px;
//       }
//     }
//   }
// }

// @media screen and (max-width: 550px) {
//   .conatiner {
//     .content {
//       .screenshots {
//         .swiper__container {
//           top: 90px !important;
//         }
//       }
//     }
//   }
// }
