.container {
  background-color: whitesmoke;
  height: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  min-width: 230px;
  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }
  margin: {
    bottom: 30vh;
  }

  .content {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .box {
      &:not(.screenshots) {
        border: 1px solid #221718;
      }
      border-radius: 15px;
      overflow: hidden;
      height: fit-content;
      margin: {
        top: 100px;
        left: 20px;
        right: 20px;
      }

      .box__title {
        background-color: rgba(0, 0, 0, 0.8);
        color: whitesmoke;
        padding: 10px;
        font: {
          size: 25px;
          weight: 700;
        }
      }

      &.screenshots {
        position: relative;
        max-width: 100vw;
        border: none;
        overflow: hidden;

        .swiper__pagination {
          z-index: 999;
          position: absolute;
          height: 10vw;
          top: 0;
          bottom: 0;
          margin: {
            // left: 2vw;
            // right: 2vw;
            top: auto;
            bottom: auto;
          }

          .swiper__arrow {
            height: 10vw;
            cursor: pointer;
            transition: opacity 0.3s;

            &:hover {
              opacity: 0.5;
            }
          }

          &:last-child {
            right: 0;

            .swiper__arrow {
              transform: rotate(180deg);
            }
          }
        }

        .swiper__container {
          width: 90vw;
          max-width: 1000px;
          overflow: visible;
          display: flex;

          .swiper__item {
            max-width: 1000px;
            align-self: center;

            img {
              width: 90%;
            }
          }
        }
      }

      &.summary {
        width: fit-content;

        * {
          padding: 10px;
          text-align: center;
        }

        tr:not(:last-child) {
          border-bottom: 1px solid #221718;
        }

        td:first-child {
          text-align: center;
          border-right: 1px solid #221718;
          padding: {
            right: 15px;
          }
        }

        .summary__table {
          margin: 10px;
        }
      }

      &.description {
        max-width: 400px;

        .description__text {
          word-break: keep-all;
          white-space: pre-line;
          padding: 10px;
          line-height: 23px;
        }
      }

      &.skills {
        width: fit-content;
        .skill-icons {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          .img--skill {
            height: 100px;
            margin: 10px;
          }
        }
      }

      &.links {
        width: fit-content;
        max-width: 400px;
        min-width: 200px;
        .links-wrapper {
          display: flex;
          justify-content: space-evenly;
          flex-wrap: wrap;
          padding: 10px;
          gap: 10px;
        }
      }
    }
  }

  &.PlaceReview {
    .box:not(.screenshots) {
      border-color: #403d39;
      color: #403d39;
      .box__title {
        color: #fffcf2;
        background-color: #403d39;
      }
    }
  }
  &.MetaBeef {
    .box:not(.screenshots) {
      border-color: #221718;
      color: #221718;
      .box__title {
        color: whitesmoke;
        background-color: #221718;
      }
    }
  }
  &.ReactNative {
    .box:not(.screenshots) {
      border-color: #292f36;
      color: #292f36;
      .box__title {
        color: whitesmoke;
        background-color: #292f36;
      }
    }
  }
  &.BrowserStart {
    .box:not(.screenshots) {
      border-color: rgba(20, 10, 40, 0.8);
      color: #292f36;
      .box__title {
        color: white;
        background-color: rgba(20, 10, 40, 0.8);
      }
    }
  }
  &.SimpleMemo {
    .box:not(.screenshots) {
      border-color: #463f3a;
      color: #221718;
      .box__title {
        color: white;
        background-color: #463f3a;
      }
    }
  }
  // &.MemoryTest {
  //   .box:not(.screenshots) {
  //     border-color: skyblue;
  //     color: #221718;
  //     .box__title {
  //       color: #221718;
  //       background-color: skyblue;
  //     }
  //   }
  // }
  // &.DigitalClock {
  //   .box:not(.screenshots) {
  //     border-color:rgb(100, 19, 19);
  //     color: #221718;
  //     .box__title {
  //       color: white;
  //       background-color: rgb(100, 19, 19);
  //     }
  //   }
  // }
}
