@import "./allSection.scss";

.container {
  background-color: #403d39;
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    .img {
      width: 90vmin;
    }
  }
}

// 스크롤할 때 로테이션도 넣기
// 헤더 1~2페이지 하나로 고정하기
