@import "../components/Section.module.scss";

.container {
  height: 800vh;
  display: block;
}
.content {
  overflow: hidden;
  position: sticky;
  top: 0;
}

.main-text {
  white-space: pre-line;
  display: flex;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 1;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  max-width: 100vw;
  width: 100%;
  min-width: 230px !important;
  line-height: 30px;
  word-break: keep-all;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.5);
  padding: {
    left: 5vw;
    right: 5vw;
  }
  font: {
    size: 16px;
  }
  &.show {
    opacity: 1;
    pointer-events: all;
  }
}

.canvas {
  height: 100vh !important;
  width: 100vw !important;
  min-width: 230px !important;
  margin: {
    // bottom: -10vh;
  }
}
.header-group {
  transform: translateX(17vw);
  width: 50vw;
  height: 100vh;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // top: 0;
  // bottom: 0;
  // margin: auto;
  gap: 5vh;

  .header {
    opacity: 0;
    font: {
      size: 7vmin;
      weight: 700;
    }
    &:nth-child(1) {
      transition: opacity 0.5s;
      transform: translateX(5vmin);
    }
    &:nth-child(2) {
      transition: opacity 1s;
    }
    &:nth-child(3) {
      transition: opacity 1.5s;
      transform: translateX(5vmin);
    }
    &.show {
      opacity: 1;
    }
  }
}
