@import "../components/Section.module.scss";

.container {
  height: 500vh;
  display: block;
}
.content {
  position: sticky;
  top: 0;
}

.canvas {
  pointer-events: none;
  height: 90vh !important;
  width: 100vw !important;
  margin: {
    bottom: -10vh;
  }
}
