* {
  box-sizing: border-box;
}

body {
  min-width: 230px;
  font: {
    family: "Gowun Dodum", sans-serif;
    // family: Raleway, sans-serif !important;
  }

  a {
    color: #221718;
    text-decoration: none;
  }
}

html {
  min-width: 230px;
}
