* {
  box-sizing: border-box;
  // color: #221718;
}

body {
  // font-family: Raleway, sans-serif !important;
  font-family: "Gowun Dodum", sans-serif;
  min-width: 230px;
  a {
    color: #221718;
    text-decoration: none;
  }
}
