$pink: #ce979e;
$black: #221718;
$gray: rgb(179, 179, 179);
* {
  box-sizing: border-box;
}
body {
  // font-family: Raleway, sans-serif !important;
  font-family: 'Gowun Dodum', sans-serif;
  // min-width: 230px;
  a {
    color: $black;
    text-decoration: none;
  }
}
